body {
    margin: 0;
    padding: 0;

    background-color: white;
}

.app {
    font-family: sans-serif;
}

nav {
    display: flex;

    gap: 16px;
    justify-content: flex-end;
    align-items: center;

    padding: 8px;
}

nav button {
    border: 1px solid gray;
    background: transparent;
    cursor: pointer;

    padding: 16px;

}

nav button:hover {
    text-decoration: underline;
}

.options {
    padding: 8px;
}

.selected {
    background-color: #b4b4b4;
}

